        html {
            font-size: 16px;
            scroll-behavior: smooth;
        }
        
        body {
            background-color: var(--surface-ground);
            font-family: var(--font-family);
            font-weight: normal;
            color: var(--text-color);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-bottom: 50px;
            transition: background-color 1s ease;
        }
        /* Carousel */
        /* End Carousel  */
        /* body */
        
        .bodys {
            margin: auto;
            width: 1440px;
        }
        
        .cards {
            position: relative;
            width: 1440px;
            height: 603px;
            left: 0px;
            top: 0px;
        }
        
        .card1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 3px;
            position: absolute;
            width: 310px;
            height: 399px;
            left: 70px;
            top: 127px;
        }
        
        .img1 {
            width: 64px;
            height: 64px;
        }
        
        .card2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            padding: 8px 3px;
            width: 308px;
            height: 399px;
            left: 400px;
            top: 127px;
        }
        
        .card3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            padding: 8px 3px;
            width: 310px;
            height: 399px;
            left: 730px;
            top: 127px;
        }
        
        .card4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            padding: 8px 3px;
            width: 310px;
            height: 399px;
            left: 1060px;
            top: 127px;
        }
        
        .core {
            align-items: center;
            text-align: center;
            letter-spacing: 0.325em;
            position: absolute;
            width: 1440px;
            height: 92px;
            left: 0px;
            top: 40px;
        }
        
        .rsp {
            position: relative;
            padding-left: 234px;
            display: flex;
            gap: 93px;
            width: 1280px;
            height: 600px;
        }
        
        .rsp-rsp {
            background-color: #F5FA00;
        }
        
        .rsp-1 {
            text-align: center;
            gap: 10px;
            width: 544px;
            height: 498px;
            left: 50px;
            top: 52px;
        }
        
        .rsp-2 {
            text-align: center;
            padding: 15px;
            width: 488px;
            height: 268px;
            left: 697px;
            top: 167px;
        }
        
        .rsp-h1 {
            align-items: center;
            text-align: center;
        }
        
        .rsp-3 {
            text-align: center;
            align-items: center;
        }
        
        .spms-2 {
            position: absolute;
            padding: 0px;
            width: 520px;
            height: 325px;
            left: 684px;
            top: 111px;
        }
        
        .spms-h1 {
            align-items: center;
            text-align: center;
        }
        
        .spms {
            padding-left: 85px;
            gap: 93px;
        }
        
        .spms-1 {
            align-items: center;
            padding: 0px;
            gap: 26px;
            width: 488px;
            height: 268px;
            left: 96px;
            top: 128px;
        }
        
        .readmore {
            top: 80px;
        }
        
        .readmore2 {
            top: 13px;
        }
        
        .readmore3 {
            top: 17px;
        }
        
        .readmore4 {
            top: 5px
        }
        
        .rsp4 {
            position: relative;
            width: 1280px;
        }
        
        .rsp-img {
            left: 0px;
            top: 557px;
            position: absolute;
        }
        
        .rsp-img2 {
            left: 0px;
            top: 504px;
            position: absolute;
        }
        
        .img-rsp1 {
            height: 228px;
            width: 228px;
        }
        
        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }
        
        .reveal.active {
            transform: translateY(0);
            opacity: 1;
        }
        
        .color-yellow {
            background-color: #FAEB33;
        }
        /* end body */
